.footer{
  background-color: #33323D;

  &__container{
    display: flex;
    padding: 24px 0;
    align-items: center;
  }

  &__link:hover{
    opacity: 0.8;
  }

  &__link:active{
    opacity: 0.4;
  }

  &__nav{
    margin-left: 49px;
  }

  &__nav-link{
    color: #FFFFFF;
  }

  &__social-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
  }

  &__social-item + &__social-item{
    margin-left: 15px;
  }
}

@media only screen and (max-width: 540px) {

  .footer {

    &__container {
      flex-direction: column;
      padding: 56px 0;
    }

    &__nav {
      margin-left: 0;
    }

    &__list {
      margin: 40px 0;
      flex-direction: column;
    }

    &__item + &__item {
      margin-top: 32px;
    }

    &__social-list {
      margin-left: 0;
    }

  }

}